-#    This file is part of Monzo-Viewer.

-#    Monzo-Viewer is free software: you can redistribute it and/or modify
-#    it under the terms of the GNU General Public License as published by
-#    the Free Software Foundation, either version 3 of the License, or
-#    any later version.

-#    Monzo-Viewer is distributed in the hope that it will be useful,
-#    but WITHOUT ANY WARRANTY; without even the implied warranty of
-#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-#    GNU General Public License for more details.

-#    You should have received a copy of the GNU General Public License
-#    along with Monzo-Viewer.  If not, see <https://www.gnu.org/licenses/>.

= render "nav"
.container
    .row
        .col
            .jumbotron.text-center
                %h1.display-4
                    %a Welcome
                %p Login
                = form_with(url: login_submit_path) do |new_user_form|
                    %p= new_user_form.text_field :username, placeholder: "Username"
                    %p= new_user_form.password_field :password, placeholder: "Password"
                    %p= new_user_form.submit class: "btn btn-primary"