-#    This file is part of Monzo-Viewer.

-#    Monzo-Viewer is free software: you can redistribute it and/or modify
-#    it under the terms of the GNU General Public License as published by
-#    the Free Software Foundation, either version 3 of the License, or
-#    any later version.

-#    Monzo-Viewer is distributed in the hope that it will be useful,
-#    but WITHOUT ANY WARRANTY; without even the implied warranty of
-#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-#    GNU General Public License for more details.

-#    You should have received a copy of the GNU General Public License
-#    along with Monzo-Viewer.  If not, see <https://www.gnu.org/licenses/>.

= render "nav"
.container
    .row
        .col
            .jumbotron.text-center.p-5.rounded.m-3
                %h1.display-4
                    %a Setting up the OAuth details
                %p Fill in the details below from the OAuth client in the dev portal
                = form_with(url: authorisation_setup_path, local: true) do |new_user_form|
                    %p= new_user_form.text_field :client_id, value: @user.client_id, placeholder: "Client ID", class: "form-control"
                    %p= new_user_form.text_field :client_secret, value: @user.client_secret, placeholder: "Client Secret", class: "form-control"
                    %p= new_user_form.submit class: "btn btn-primary"