= render "nav"
.container
    .row
        .col
            .jumbotron
                %h1.display-4
                    Update Keys
                = form_with url: "#{update_user_secret_path()}" do |f| 
                    .row
                        .col
                            = label_tag "client_id", "Client ID"
                        .col
                            = text_field_tag "client_id", @current_user.client_id, size: 50
                    .row
                        .col
                            = label_tag "access_token", "Access Token"
                        .col
                            = text_area_tag "access_token", @current_user.access_token, rows: 5, cols: 50
                    .row
                        .col
                            = label_tag "refresh_token", "Refresh Token"
                        .col
                            = text_area_tag "refresh_token", @current_user.refresh_token, rows: 5, cols: 50
                    .row
                        .col
                            = label_tag "secret", "Secret"
                        .col
                            = password_field_tag "secret", @current_user.client_secret
                    %p
                    = f.submit
