-#    This file is part of Monzo-Viewer.

-#    Monzo-Viewer is free software: you can redistribute it and/or modify
-#    it under the terms of the GNU General Public License as published by
-#    the Free Software Foundation, either version 3 of the License, or
-#    any later version.

-#    Monzo-Viewer is distributed in the hope that it will be useful,
-#    but WITHOUT ANY WARRANTY; without even the implied warranty of
-#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-#    GNU General Public License for more details.

-#    You should have received a copy of the GNU General Public License
-#    along with Monzo-Viewer.  If not, see <https://www.gnu.org/licenses/>.

= render "nav"
.container
    .row
        .col
            .jumbotron
                .container
                    .row
                        - @accounts.each do |account|
                            .col-md-6.card-spacing.mx-auto
                                .card
                                    .card-header= account.name
                                    .card-body
                                        %p.card-text Balance: #{number_to_currency(account.balance/100.0, unit: "£")}
                                        %p.card-text Balance (incl. pots): #{number_to_currency((account.balance + @account_balance[account.id])/100.0, unit: "£")}
                                        = link_to "View Account", account_path(account), class: "btn btn-primary btn-lg"
