-#    This file is part of Monzo-Viewer.

-#    Monzo-Viewer is free software: you can redistribute it and/or modify
-#    it under the terms of the GNU General Public License as published by
-#    the Free Software Foundation, either version 3 of the License, or
-#    any later version.

-#    Monzo-Viewer is distributed in the hope that it will be useful,
-#    but WITHOUT ANY WARRANTY; without even the implied warranty of
-#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-#    GNU General Public License for more details.

-#    You should have received a copy of the GNU General Public License
-#    along with Monzo-Viewer.  If not, see <https://www.gnu.org/licenses/>.

= render "nav"
.container.min-vh-100
    .row
        .col
            .jumbotron
                %h1.display-4
                    %a#acc-name #{@account.name}
                    %input#acc-name-input{"type" => "text", "value" => "#{@account.name}"}
                    %i.search.material-icons#acc-name-edit{"data-acc" => "#{@account.id}"} edit
                %p.text-secondary #{@account.sort_code} | #{@account.acc_number}
                %p.lead
                    Balance: 
                    .text-success= number_to_currency(@account.balance/100.0, unit: "£")
                - if @show_graph
                    %hr.my-4
                    = line_chart account_graph_path, curve: false, round: 2, zeros: true, points: false, prefix: "£", thousands: ","
                %hr.my-4
                = link_to "View Transactions", "#transactions", class: "btn btn-primary btn-lg"

    -if @pots.count > 0
        .row
            .col
                .jumbotron
                    %h1.display-4
                        %a#acc-name Pots
                    .container
                        .row
                            - @pots.each do |pot|
                                .col-lg-6.card-spacing.mx-auto
                                    .card.h-100
                                        .card-header #{@pot_title[pot.id.to_s]}
                                        .card-body
                                            .progress
                                                - @targets[pot.id.to_s].each_with_index do |target, i|
                                                    .progress-bar{"class" => "bg-#{@colours[i%6]}", "role" => "progressbar", "style" => "width: #{target[1]}%", "aria-valuenow" => "0", "aria-valuemin" => "0", "aria-valuemax" => "0"}

                                            %p
                                            - pot.targets.each_with_index do |target, i|
                                                %p{"data-toggle" => "tooltip", "title" => "#{target.for}"}
                                                    %a{"class" => "text-#{@colours[i%6]}"} #{number_to_currency(@target_comp[pot.id.to_s][target.id.to_s], unit: "£")}
                                                    %a.text-secondary  / #{number_to_currency(target.target/100.0, unit: "£")}
                                            = link_to "Set / Change targets", pot_view_path(@account, pot), class: "btn btn-primary btn-lg"
                                            

    .row#transactions
        .col
            %nav
                %ul.pagination
                    %li.page-item
                        = link_to "<", "#{account_view_offset_path(@account, @previous_page)}#transactions", class: "page-link"
                    - if @do_dots
                        - i = 0
                        - while true do
                            %li.page-item{"class" => "#{"active" if @view_pages[i] == @current_page}"}
                                = link_to @view_pages[i], "#{account_view_offset_path(@account, @view_pages[i])}#transactions", class: "page-link"
                                - if @view_pages[i]+1 != @view_pages[i+1] && @view_pages.count != i+1
                                    %li.page-item.disabled
                                        %span.page-link= "..."
                                - break if @view_pages.count == i+1
                                - i += 1
                    - else
                        - @view_pages.each do |view_page|
                            %li.page-item
                                = link_to view_page, "#{account_view_offset_path(@account, view_page)}#transactions", class: "page-link"
                    %li.page-item
                        = link_to ">", "#{account_view_offset_path(@account, @next_page)}#transactions", class: "page-link"
    .row
        .table-responsive
            %table.table.table-striped
                %thead
                    %tr
                        %th{"scope" => "col"} Date
                        %th{"scope" => "col"} Payee
                        %th{"scope" => "col"} Amount
                        %th{"scope" => "col"} Balance
                        %th{"scope" => "col"} Save
                %tbody
                    - @transactions.each_cons(2) do |transaction, next_transaction|
                        %tr
                            %th{"scope" => "row"}= transaction.day.strftime('%d-%m-%Y')
                            %td
                                - if transaction.coin_jar == true
                                    %span.material-icons{"data-toggle" => "tooltip", "title" => "#{number_to_currency(transaction.coin_amount/100.0, unit: "£")}"} monetization_on
                                = transaction.payee
                            %td{"class" => "#{transaction.amount > 0 ? "text-success" : "text-danger"}"}= number_to_currency(transaction.amount/100.0, unit: "£")
                            %td= number_to_currency(transaction.balance/100.0, unit: "£")
                            %td
                                - if next_transaction.balance > -1 && transaction.amount > 0 && next_transaction.balance + @account.threshold_offset < @account.balance
                                    %span.material-icons.transfer-balance{"data-transaction" => "#{transaction.transaction_id}", "data-amount-with-currency" => "#{number_to_currency((next_transaction.balance-@account.threshold_offset)/100.0, unit: "£")}", "data-amount" => "#{next_transaction.balance-@account.threshold_offset}", "data-toggle" => "tooltip", "title" => "Transfer #{number_to_currency((next_transaction.balance-@account.threshold_offset)/100.0, unit: "£")}"} account_balance_wallet
            
                    %tr
                        %th{"scope" => "row"}= @transactions.last.day.strftime('%d-%m-%Y')
                        %td
                            - if @transactions.last.coin_jar == true
                                %span.material-icons{"data-toggle" => "tooltip", "title" => "#{number_to_currency(@transactions.last.coin_amount/100.0, unit: "£")}"} monetization_on
                            = @transactions.last.payee
                        %td{"class" => "#{@transactions.last.amount > 0 ? "text-success" : "text-danger"}"}= number_to_currency(@transactions.last.amount/100.0, unit: "£")
                        %td= number_to_currency(@transactions.last.balance/100.0, unit: "£")
                        %td